{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft JWT Auth plugin for Craft CMS 3.x
 *
 * Craft JWT Auth Settings.twig
 *
 * @author    Mike Pierce
 * @copyright Copyright (c) 2019 Mike Pierce
 * @link      https://edenspiekermann.com
 * @package   CraftCognitoAuth
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    first: true,
    label: 'Auto create users',
    instructions: 'If enabled, will automatically create a public user when provided with a verified JWT',
    name: 'autoCreateUser',
    on: settings.autoCreateUser
}) }}


{{ forms.lightswitchField({
    label: 'Auto create users when Public Registration is disabled',
    instructions: 'Allow creating users even when Public Registration is disabled in <a href="' ~ cpUrl('settings/users/settings') ~ '">Craft\'s settings</a>',
    name: 'autoCreateUserWhenPublicRegistrationDisabled',
    on: settings.autoCreateUserWhenPublicRegistrationDisabled
}) }}


{% set groups = [{ label: "None", value: '' }] %}
{% for group in craft.app.userGroups.getAllGroups() %}
    {% set groups = groups|merge([{ label: group.name, value: group.id }]) %}
{% endfor %}

{{ forms.selectField({
    label: 'Default User Group',
    instructions: 'Choose a user group that users will be added to when created from Cognito',
    name: 'newUserGroup',
    options: groups,
    value: settings.newUserGroup,
    errors: settings.getErrors('newUserGroup')
}) }}


{{ forms.lightswitchField({
    label: 'Enable CP Login Link',
    instructions: 'Toggles the visibility of the Login with Cognito link on the Control Panel\'s login screen',
    name: 'addLoginLink',
    on: settings.addLoginLink
}) }}


{{ forms.autosuggestField({
    label: 'Customize Login Link text',
    instructions: 'The text that the login link should show on the Control Panel\'s login screen',
    name: 'customizeLoginLinkText',
    value: settings.customizeLoginLinkText
}) }}

<br />
<h1>AWS Settings</h1>

{{ forms.autosuggestField({
    label: 'User Pool Region',
    instructions: 'The AWS Region where the User Pool is hosted',
    name: 'userPoolRegion',
    value: settings.userPoolRegion,
    warning: 'Required'
}) }}

{{ forms.autosuggestField({
    label: 'App Client ID',
    instructions: 'Used to generate a login link and to verify the JWK was created for the correct pool',
    name: 'userPoolAppID',
    value: settings.userPoolAppID,
    warning: 'Required'
}) }}

{{ forms.autosuggestField({
    label: 'User Pool ID',
    instructions: 'Required to get the key Cognito used to sign the JWK',
    name: 'userPoolID',
    value: settings.userPoolID,
    warning: 'Required'
}) }}

{{ forms.textField({
    label: 'Redirect Target',
    instructions: 'Add the below link as allowed target in your user pool settings:',
    value: '$DEFAULT_SITE_URL/cognitoauth',
    disabled: true
}) }}
